header {
    background-color:darkgreen;
    display: flex;
  }
  
  div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  main img {
    display: inline block;
    height: 12em;
    width: 12em;
  }
  
  h1 {
    font-family: 'Courgette', cursive;
    color:ghostwhite;
    text-align: center;
    width: 45em;
  }
  
  a {
    font-family: 'Lato', sans-serif;
    text-decoration:none;
    color:ghostwhite;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.10em;
    text-align: center;
    background-color:rgb(96, 118, 139);
  }
  
  nav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: fit-content;
  }
  
  main h2 {
    font-family: 'Lobster Two', cursive;
    color: darkblue;
  }
  
  main h3 {
    font-family: 'Lobster Two', cursive;
    text-decoration: underline;
    color:darkblue;
    font-size:x-large;
  }
  
  main h4 {
    font-family: 'Lobster Two', cursive;
    color:darkblue;
    font-size: large;
  }
  
  main p {
    font-family: 'Lato', sans-serif;
  }
  
  main ul {
    font-family: 'Lato', sans-serif;
    color: black;
  }
  
  #list {
    background-color: rgb(255, 191, 107);
    padding-left: 1em;
    color: black;
  }
  
  footer {
    color: ghostwhite;
    height: 5em;
    background-color:darkgreen;
  }
  
  footer p {
    text-align: center;
  }