header {
  background-color: darkgreen;
  display: flex;
  align-items: center;
}

main img {
  width: 12em;
  height: 12em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-right: 1em;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: ghostwhite;
  text-align: center;
  width: 100%;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

nav a:hover {
  background-color: rgb(236, 255, 168);
}

main h2 {
  font-family: 'Oswald', sans-serif;
  color: darkblue
}

main h3 {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
  color: darkblue;
}

main h4 {
  font-family: 'Oswald', sans-serif;
  color: darkblue;
}

main p {
  font-family: 'Open Sans', sans-serif;
}

main ul {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

#list {
  background-color: rgb(236, 255, 168);
  padding-left: 1em;
  color: black;
}

footer {
  color: ghostwhite;
  height: 5em;
  background-color: darkgreen;
}

footer p {
  text-align: center;
}